.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.7rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent; 
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}


/*=================== MEDIA QUERIES (MEDIUM DEVICES) ==========================*/

@media screen and (max-width: 1024px) {
  
  
}

/*=================== MEDIA QUERIES (SMALL DEVICES) ==========================*/

@media screen and (max-width: 600px) {
  #experience{
    margin-left: -3rem;
  }

  .experience__container{
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 78%;
  }
}

@media screen and (max-width: 380px) {
  #experience {
    margin-top: 25rem;
    margin-left: -2rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
    margin-top: 15rem;
    left: 10rem;
  }

  .experience__container > div {
    width: 88%;
    padding: 1rem;
    margin: 0;
  }

  .experience__content {
    padding: 1rem;
  }

}