#testimonials {
  margin-top: 25rem;
}

.testimonials__container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
  width: 60%;
  margin: 0rem auto;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

/*=================== MEDIA QUERIES (MEDIUM DEVICES) ==========================*/

@media screen and (max-width: 1024px) {

  
}

/*=================== MEDIA QUERIES (SMALL DEVICES) ==========================*/

@media screen and (max-width: 600px) {
  #testimonials {
    margin-left: 0;
    margin-bottom: -30rem;
  }

  .testimonials__container {
    width: 95%;
  }
}

@media screen and (max-width: 380px) {
  #testimonials {
    margin-top: 75rem;
    margin-bottom: 20rem;
    padding-bottom: 1rem;
    margin-left: 5rem;
  }
  .testimonials__container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .client__name {
    margin-top: 2.5rem;
  }
  .swiper-slide{
    width: 0;
  }
  .swiper {
    width: 100%;
    left: -3rem;
  }
}